:root {
  --background: #0f0e17;
  --background-light: #191726;

  --headline: #fffffe;
  --paragraph: #b8c1ec;

  --button-text: #fffffe;
  --button-raw: 255, 137, 6;
  --button: rgb(var(--button-raw));

  --stroke-raw: 0, 0, 0;
  --stroke: rgb(var(--stroke-raw));

  --primary-raw: 255, 137, 6;
  --primary: rgb(var(--primary-raw));

  --secondary-raw: 242, 95, 76;
  --secondary: rgb(var(--secondary-raw));

  --tertiary-raw: 229, 49, 112;
  --tertiary: rgb(var(--tertiary-raw));

  --shape-background-raw: 63, 59, 96;
  --shape-background: rgb(var(--shape-background-raw));
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--background);
  color: var(--paragraph);
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--background-light);
  color: var(--headline);
  padding: 0.5rem;

  display: flex;
}

main {
  display: flex;
  flex: 1;
}

#canvas {
  position: relative;
  flex: 1;
}

#background-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.shape {
  --border: black;

  display: flex;
  align-items: center;

  position: absolute;

  min-width: 5rem;
  min-height: 5rem;

  max-width: 300px;

  padding: 1rem;

  background-color: var(--shape-background);
  border: 2px solid var(--border);
  text-align: center;
}

.shape > [contenteditable] {
  outline: 0px solid transparent;
  word-wrap: break-word;
  word-break: break-all;
}

.shape.round {
  border-radius: 1rem;
}

.shape.stadium {
  border-radius: 9999px;
}

.shape.circle {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.shape.database {
  border-bottom-width: 0;
  border-top-width: 0;
}

.shape.database::before {
  position: absolute;

  top: 0;
  left: -2px;

  transform: translate(0, -50%);

  display: block;
  content: "";
  width: 100%;
  height: 1rem;

  background: var(--shape-background);
  border-radius: 100%;
  border: 2px solid var(--border);
}

.shape.database::after {
  position: absolute;
  bottom: 0;
  left: 0;

  transform: translate(0, 50%);

  display: block;
  content: "";
  width: 100%;
  height: 1.5rem;
  background-color: var(--shape-background);

  border-radius: 100%;
  border-bottom: 2px solid var(--border);
}

.shape.double-circle {
  aspect-ratio: 1/1;
  border-radius: 50%;
  outline: 2px solid var(--border);
  outline-offset: -10px;
}

.shape.flag {
  aspect-ratio: 3/1;
  padding-left: 3rem;
}

.shape.flag::before {
  position: absolute;
  left: -1px;

  transform: translate(-50%, 0) rotate(45deg);

  display: block;
  content: "";
  height: calc(100% * sin(45deg));
  aspect-ratio: 1/1;
  background-color: var(--background);
  border: 2px solid var(--border);
  border-width: 2px 2px 0 0;
}

.shape.rhombus {
  aspect-ratio: 1/1;
  padding: 0.75rem;
  transform: rotate(45deg);
}

.shape.rhombus > p {
  transform: rotate(-45deg);
}

.shape.hexagon {
  border-left: 0;
  border-right: 0;
}

.shape.hexagon::before,
.shape.hexagon::after {
  position: absolute;
  left: 1px;

  transform: translate(-50%, 0) rotate(45deg);

  display: block;
  content: "";
  height: calc(100% * sin(45deg));
  aspect-ratio: 1/1;
  background-color: var(--shape-background);
  border: 2px solid var(--border);
  border-width: 0 0 2px 2px;
  clip-path: polygon(100% 100%, 0% 100%, 0% 0%);
}

.shape.hexagon::after {
  left: auto;
  right: 1px;
  transform: translate(50%, 0) rotate(225deg);
}

.shape.parallelogram,
.shape.parallelogram-alt {
  --rot: 0deg;
  --translate: -100%;
  --path: 0% 100%, 100% 100%, 100% 0%;

  border-left: 0;
  border-right: 0;
}

.shape.parallelogram::before,
.shape.parallelogram-alt::before,
.shape.parallelogram::after,
.shape.parallelogram-alt::after {
  display: block;
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  transform: translate(var(--translate), 0) rotate(var(--rot));

  height: 100%;
  width: 1rem;

  border-bottom: 2px solid var(--border);

  background-color: var(--shape-background);
  clip-path: polygon(var(--path));
}

.shape.parallelogram::after,
.shape.parallelogram-alt::after {
  left: auto;
  top: -2px;
  right: 1px;

  --rot: 180deg;
  --translate: 100%;
}

.shape.parallelogram-alt {
  --path: 100% 0%, 0% 0%, 100% 100%;
}

.shape.parallelogram-alt::before,
.shape.parallelogram-alt::after {
  border-bottom: 0;
  border-top: 2px solid var(--border);
  top: 0;
}

.shape.parallelogram-alt::before {
  top: -2px;
}

.shape.trapezoid,
.shape.trapezoid-alt {
  --scale: 1;
  --translate: -100%;
  --path: 0% 100%, 100% 100%, 100% 0%;

  border-left: 0;
  border-right: 0;
}

.shape.trapezoid-alt {
  --path: 100% 0%, 0% 0%, 100% 100%;
}

.shape.trapezoid::before,
.shape.trapezoid::after,
.shape.trapezoid-alt::before,
.shape.trapezoid-alt::after {
  display: block;
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  transform: translate(var(--translate), 0) scaleX(var(--scale));

  height: 100%;
  width: 1rem;

  border-bottom: 2px solid var(--border);

  background-color: var(--shape-background);
  clip-path: polygon(var(--path));
}

.shape.trapezoid::after,
.shape.trapezoid-alt::after {
  left: auto;
  right: 0;

  --translate: 100%;
  --scale: -1;
}

.shape.trapezoid-alt::before,
.shape.trapezoid-alt::after {
  top: -2px;
  border-bottom: 0;
  border-top: 2px solid var(--border);
}
.shape.selected {
  --border: var(--primary);
}

.path {
  stroke: var(--tertiary);
  stroke-width: 5;
}

.path[data-style="thick"] {
  stroke-width: 10;
}

.path[data-style="dotted"] {
  stroke-dasharray: 5, 5;
}

.path.selected {
  stroke: var(--primary);
}

#arrowMarker,
#circleMarker {
  fill: var(--tertiary);
}

#crossMarker {
  stroke: var(--tertiary);
  stroke-width: 2;
}

.menu {
  display: none;
  position: absolute;

  z-index: 999;
}

.menu.open {
  display: flex;
  flex-direction: column;

  background-color: #2e2f3e;
  padding: 1rem 0.5rem;
  border-radius: 5px;
  gap: 0.5rem;
}

#tools {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

button {
  padding: 0.5rem;
  border: 0;
  border-radius: 5px;
  font-weight: bold;

  transition: background-color 200ms;
  background-color: var(--primary);
}

button:focus,
button:hover {
  background-color: var(--tertiary);
}
